.LoginAndRegisterHeader {
  margin: 0px;
  border: 0px;
  text-align: center;
}

#headerImage {
  width: 60px;
  opacity: 0.5;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.13));
}

#formHeader {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0px;
  margin-bottom: 10px;
  margin-left: 5%;
}

#formInput {
  border: solid #aaaaaa 0.5px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5%;
  width: 90%;
  padding-top: 7px;
  padding-bottom: 7px;
}

#formPasswordInput{
  border: solid #aaaaaa 0.5px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5%;
  width: 80%;
  padding-top: 7px;
  padding-bottom: 7px;
}

#showPassButton{
  background-color: white;
  border: 0px;
  width: 10%;
}
#eyeImage{
  width: 100%;
}

#RegisterTitle {
  margin: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

#myCheckbox {
  transform: scale(1.1);
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 0;
  margin-left: 5%;
}

#Term {
  display: flex;
  margin: 0;
  margin-left: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.alert {
  width: 90%;
  margin-left: 5%;
}

h2{
  font-size: 20px;
  padding-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}



