@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext,greek-ext,greek,vietnamese,cyrillic,cyrillic-ext);

#root{
  
  margin: 0;
  padding: 0;
  
  height: 100vh;
}
body{
  margin: 0;
  padding: 0;
}

.homeContainer {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: linear-gradient(#646bc3, #c15fef, black);
  background-size: cover;
  overflow: hidden;
  flex-direction: column;
  
  height: 65%;
}
#homeHeader{
  margin-bottom: 4px;
  margin-top: 7px;
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.header-left {
  width: 80%;
  padding-left: 10%;
  padding-top: 4%;
  display: flex;
  align-items: center;
}

.header-right {
  width: 20%;
  padding-right: 10%;
  padding-top: 4%;
  text-align: right;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#logo {
  border-radius: 10%;
  width: 50px;
}
#budgifyTitle {
  margin: 5%;
  margin-left: 3%;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #fff;
}

#expandButton {
  border-radius: 10%;
  width: 40px;
}

#homeBody{
  margin: 5%;
}
#homeImage {
  margin: 5%;
  width: 90%;
  margin-bottom: 30px;
}

#headerText {
  margin-left: 6%;
  font-family: "Roboto", sans-serif;
  margin-bottom: 4px;
  font-size: 25px;
  font-weight: 50;
  color: #fff;
}

#bodyText {
  margin-left: 6%;
  font-family: "Roboto", sans-serif;
  margin-top: 4px;
  font-size: 20px;
  font-weight: 50;
  color: #fff;
}

.homeFooter {
  border-bottom: wheat 2px solid;
  position: fixed;
  padding-top: 20px;
  bottom: 0;
  background-color: #000;
  flex-shrink: 2;
  height: 35%;
  /*background-image: url("https://firebasestorage.googleapis.com/v0/b/budgify-ed7a9.appspot.com/o/footer.png?alt=media&token=cac789ec-2686-4224-b8c8-f16aca47c247");
  background-size: cover;
  background-position: center;*/
}

#footerButtons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}

#footerButton {
  padding: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 120;
  background-color: black;
  color: #fff;
  border: 1px solid white;
  border-radius: 30px;
  margin: 0 10px;
}

#footerDescription {
  margin-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-weight: 120;
  color: #fff;
  text-align: justify;

}

.LoginAndRegisterHeader{
  margin: 0px;
  border: 0px;
  text-align: center;
}

#headerImage{
  width: 60px;
  opacity: 0.5;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.13));
}

#formHeader{
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0px;
  margin-bottom: 10px;
  margin-left: 5%;
}

#formInput{
  border: solid #AAAAAA 0.5px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5%;
  width: 90%;
  padding-top: 7px;
  padding-bottom: 7px;
}

#RegisterTitle{
  margin: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

#myCheckbox{
  transform: scale(1.1); 
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 0;
  margin-left: 5%;
}

#Term{
  display: flex;
  margin: 0;
  margin-left: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

#roundButton{
  border-width: 0;
  margin: 0;
  margin: 5%;
  padding: 12px;
  width: 90%;
  border-radius: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: #fff;
  background: linear-gradient(to right, #630B82, #BE05FF);
}

#termsRegister{
  text-align: center;
  font-size: 13px;
  margin-left: 7%;
  margin-bottom: 0;
  width: 86%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#lastLogin{
  border: 0;
  padding-bottom: 50px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 17px;
}

#LoginTitle{
  margin: 30px;
  text-align: center;
  font-family: "Roboto", Thin;
  font-weight: 308;
  font-size: 25px;
}

#headerLogin {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  font-family: "Roboto", Thin;
  align-items: center;
  height: 60px;
}

#forgotYourPassword{
  margin: 30px;
  text-decoration: underline rgb(185, 183, 183);
  font-family: "Roboto", Thin;
  font-weight: 30;
  font-size: 18px;
}

#haveCount{
  margin: 10px;
  text-align: center;
  font-family: "Roboto", ligth;
  font-weight: 308;
  font-size: 25px;
}

#loginToRegisterButton{
  border-width: 5;
  margin: 0;
  margin: 5%;
  padding: 12px;
  width: 90%;
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 19px;
  color: #000;
  background: linear-gradient(to right, #f9f9f9, #f9f9f9);
}

.alert{
  width: 90%;
  margin-left: 5%;
}